h1 {
  text-align: center;
  justify-content: center;
  height: 10vh;
  color: rgba(95, 158, 160, 0.9);
  font-weight: bolder;
}

#addToDoForm {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
}

button {
  margin-left: 10px;
  color: #000000;
  border: none;
  border-radius: 10px;
  background: rgba(95, 158, 160, 0.7)
}

button:hover {
  background-color: rgba(95, 158, 160, 0.5)
  color: gray;
}


#toDoList {
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  color: #2f4f50;
}
